/*https://coolors.co/image-picker*/
body { 
    background-color: RGB(193, 209, 222);/*lightblue*/ 
} 

nav {
    /* background-color: RGB(144, 157, 176);slate blue */
    background-color: RGB(77, 0, 19);/*burgandy*/
    background-size: "cover"

}

a {
    color: white;
    text-align: center;
    font-weight: bold;
}

h1 {
    color: RGB(77, 0, 19);/*burgandy*/
    text-align: center;
    font-weight: bold;
    background-size: "cover"
}

p {
    color: RGB(77, 0, 19);/*burgandy*/
}

.list-group-item-mine {
    background-color: RGB(98, 119, 45);/*yellow green*/
    color: white
}

h4 {
    color: RGB(248,250,251);/*lighter light-blue*/
    text-align: center;
    background-size: "cover"
}

form {
    background-color: RGB(77, 0, 19);/*burgandy*/
    color: RGB(253, 239, 214);/*cream*/
    font-weight: bold;
    margin: 5pt;
    padding: 3pt

}

.jumbotron {
    /* background-image: url(https://images.pexels.com/photos/21393/pexels-photo.jpg); */
    background-image: url(https://images.pexels.com/photos/51947/tuscany-grape-field-nature-51947.jpeg);
    background-size: 100% 100%;
    background-size: "cover";
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
    color: white
}

h3 {
    background-color: RGB(77, 0, 19);/*burgandy */
    /* background-color: RGB(144, 157, 176);slate blue */
    color: RGB(248,250,251);/*lighter light-blue*/
    text-align: center;
    background-size: "cover"
}

/* color palette */
/* dark-green  */
    /* background-color: RGB(17, 33, 13);  */
/* greenish black  */
    /* background-color: RGB(19, 19, 0);  */
/*burgandy*/
    /* background-color: RGB(77, 0, 19); */
/*slate blue*/
    /* background-color: RGB(144, 157, 176); */
/*grey*/
    /* background-color: RGB(90, 102, 116); */
/*grey, lighter tint*/
    /* background-color: RGB(172,178,185)*/
/*lightblue*/ 
    /* background-color: RGB(193, 209, 222); */
/*green*/
    /* background-color: RGB(102, 100, 24); */
/*yellow green*/
    /* background-color: RGB(98, 119, 45); */
/*cream*/
    /* background-color: RGB(253, 239, 214); */
/*dark blue*/ 
    /* background-color: RGB(26, 75, 114); */
    
    